html {
  /* This is required in order to make the footer stick to the bottom..*/
  /* There is a js function that controls the bottom margin...*/
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  margin-top: 60px;
  background-color:#F5F5F5;
}

section {
  width: 100%;
  padding: 0 5%;
  margin: 0;
  max-width: none;
  padding-bottom: 35px;
}

.nav-container {
  width:100%;
  padding: 0 5%;
  margin: 0;
}

.navbar-brand {
  padding-left: 0;
}

footer {
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  border-top: 2px solid #DBDBDB;
  padding: 10px 5%;
}



/* Optimising BootStrap
-------------------------------------------------- */
.navbar-default {
  background-color: #486C5E;
}

.btn-primary {
  background-color: #486C5E;
  border-color: #24362f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #31493f;
  border-color: #24362f;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error .form-control-feedback {
  color: #EA6456;
}

a {
  color: #286D84;
}

a:hover, a:focus {
  color: #286D84;
}

.navbar-default .navbar-toggle{
  border-color: #24362f;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #31493f;
}

.page-header {
  padding-top: 9.5px;
}

.navbar-nav>li>a {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #feff78;
}

.navbar-brand {
  padding-top: 16px;
}
/* Navbar
-------------------------------------------------- */
.navbar-nav>li>a, .navbar-brand {
  line-height: 25px}

.navbar-brand a {
  color:#fff;
}

.navbar-brand a:hover {
  text-decoration: none;
}

.navbar-nav > li > a.nav_github_icon {
  padding-top: 0;
  padding-bottom: 0;
}

.fa-github {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 .small {
  color: #2C3E50;
}

.input_seq-label {
  font-size: 26px;
}

textarea.form-control {
  font-family: courier;
  line-height: 1.4
}

#np_example {
  cursor: pointer;
}

#adv_params_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#input_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.show_examples_text {
  font-size: 17px;
  text-align: center;
}

.control-label{
  font-size: 1.25em;
  font-weight: normal;
}

label, .radio label, .checkbox label, .help-block {
  font-size: 0.9em;
  font-weight: inherit;
}

.checkbox.inline.no_indent+.checkbox.inline.no_indent {
  margin-left: 0;
  margin-right: 10px;

}
.checkbox.inline.no_indent:last-child {
  margin-right: 0px;
}

label.checkbox-inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
}

label.radio-inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
}

#results_header {
  margin-top: 0;
  margin-bottom: 30px;
}

#results_link_btn {
  margin-top: 0;
  margin-right: -15px;
}

/* NeuroHmmer Results...
-------------------------------------------------- */
p {
  margin:0 0 10.5px;
  word-break: break-all;
}
.id {
  font-weight:bold;
}
.sp {
  color:#007AC0;
  font-weight:bold;
}

.sp_hsp {
  color:#007AC0;
  font-weight:bold;
  background-color:#FFE4B5;
}

.sequence {
  font-family: 'Source Code Pro', Courier New, Courier, Mono;
}
.clv {
  color:#00B050;
  font-weight:bold;
}
.clv_i {
  color:#00B050;
  font-weight: bold;
  background-color:#FFE4B5;
}
.gly {
  color:#FF0000;
  font-weight:bold;
}
.hsp {
  background-color:#FFE4B5;
}


/* Responsive CSS
___________________________*/

@media (min-width: 768px) {
  #adv_params_btn {
    float:left !important;
    margin-top: 5px;
  }

  #input_btn {
    float:right !important;
    margin-top: -43px;
  }

  .show_examples_text {
    text-align: left;
  }

  .container{
    width:90%;
  }
}
